@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #6B2ADC;
  border-radius: 10px 15px;
}
body::-webkit-scrollbar-track {
  background-color: #ececec;
}
body::-webkit-scrollbar:vertical {
  width: 8px;
}
::selection {
  color: #fff;
  background-color: #010205;
}

.backgroundImgBanner {
  background: center / cover no-repeat
    url("../assets/images/backgroundImgBanner03.svg");
}
.backgroundCard {
  background: center / contain no-repeat url("../assets/images/cardImagen.svg");
}

.backgroundFinal {
  background: center / cover no-repeat
    url("../assets/images/background-gray.svg");
}

.backgroundPortfolio {
  background: center / cover no-repeat
    url("../assets/images/background-portfoliio.svg");
}


.backgroundLastOne{
  background: right / contain no-repeat
    url("../assets/images/background-purple.svg");
}
.swiper-pagination-bullet-active{
background: white!important;
}
@media (max-width: 768px){
  .backgroundLastOne{
    background: left / 134% no-repeat
      url("../assets/images/background-purpleMobile.svg");
  }
  
}
